--- 
layout: page 
---

<h1>Staff</h1>

<ul>
  {% for author in site.author %}
  <li>
    <h2>
      <a href="{{ site.baseurl }}{{ author.url }}">{{ author.display_name }}</a>
    </h2>
    <b>{{ author.position }}</b>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endfor %}
</ul>
