---
layout: page
---

<h1>{{ page.display_name }}</h1>
<p style="color: gray">{{ page.position }}</p>

<h3>About {{ page.display_name }}</h3>
{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %} {% for post in
  filtered_posts %}
  <li>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>